<a href="https://colab.research.google.com/github/Calvince1/Cal/blob/main/149481_CSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



> **CALVINCE ONYANGO**


> **REG NO- 149481**



> **MENTAL HEALTH IN TECH**



> **CSA- CAT**

**Data Understanding**

The datasset was conducted in a Multi-National tech Organization to examine staff attitude towards mental health and the frequency with which it occurs accross different geographical areas

**Data variables**

1. Socio-Demographic Variables (Timestamp, Age, Gender, Country, State)
2. self_employed : Are you self-employed?
3. self_employed : Are you self-employed?
4. family_history : Do you have a family history of mental illness?
5. treatment : Have you sought treatment for a mental health condition?
6. work_interfere : If you have a mental health condition, do you feel that it interferes with your work?
7. no_employees : How many employees does your company or organization have?
8. remote_work : Do you work remotely (outside of an office) at least 50% of the time?
9. ech_company : Is your employer primarily a tech company/organization?
10. benefits : Does your employer provide mental health benefits?
11. care_options : Do you know the options for mental health care your employer provides?
12. wellness_program : Has your employer ever discussed mental health as part of an employee wellness program?
13. seek_help : Does your employer provide resources to learn more about mental health issues and how to seek help?
14. anonymity : Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources?
15. leave : How easy is it for you to take medical leave for a mental health condition?
16. mental_health_consequence : Do you think that discussing a mental health issue with your employer would have negative consequences?
17. phys_health_consequence : Do you think that discussing a physical health issue with your employer would have negative consequences?
18. coworkers : Would you be willing to discuss a mental health issue with your coworkers?
19. supervisor : Would you be willing to discuss a mental health issue with your direct supervisor(s)?
20. mental_health_interview : Would you bring up a mental health issue with a potential employer in an interview?
21. phys_health_interview : Would you bring up a physical health issue with a potential employer in an interview?
22. mental_vs_physical : Do you feel that your employer takes mental health as seriously as physical health?
23. obs_consequence : Have you heard of or observed negative consequences for coworkers with mental health conditions in your workplace?
24. comments : Any additional notes or comments

**Research Objectives**

In [29]:
# Data Imporattion library
import pandas as pd
import numpy as np

# Libraries to perform statistical analysis
import scipy.stats as stats
import sklearn
from numpy import std
from statistics import mean

# Sklearn Modules for Data Preprocessing
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import feature_selection
from sklearn.feature_selection import mutual_info_regression

In [24]:
# Removes the limit for the number of displayed columns
pd.set_option("display.max_columns", None)
# Sets the limit for the number of displayed rows
pd.set_option('display.max_rows', None)

In [30]:
data = "https://raw.githubusercontent.com/Calvince1/Cal/main/Mental%20health%20Disorder.csv"
df = pd.read_csv(data)
df.head(10)

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,27/08/2014 11:29,37,Female,United States,IL,NaN,No,Yes,Often,Jun-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,27/08/2014 11:29,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,27/08/2014 11:29,32,Male,Canada,NaN,NaN,No,No,Rarely,Jun-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,27/08/2014 11:29,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,27/08/2014 11:30,31,Male,United States,TX,NaN,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
5,27/08/2014 11:31,33,Male,United States,TN,NaN,Yes,No,Sometimes,Jun-25,No,Yes,Yes,Not sure,No,Don't know,Don't know,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,NaN
6,27/08/2014 11:31,35,Female,United States,MI,NaN,Yes,Yes,Sometimes,01-May,Yes,Yes,No,No,No,No,No,Somewhat difficult,Maybe,Maybe,Some of them,No,No,No,Don't know,No,NaN
7,27/08/2014 11:32,39,M,Canada,NaN,NaN,No,No,Never,01-May,Yes,Yes,No,Yes,No,No,Yes,Don't know,No,No,No,No,No,No,No,No,NaN
8,27/08/2014 11:32,42,Female,United States,IL,NaN,Yes,Yes,Sometimes,100-500,No,Yes,Yes,Yes,No,No,No,Very difficult,Maybe,No,Yes,Yes,No,Maybe,No,No,NaN
9,27/08/2014 11:32,23,Male,Canada,NaN,NaN,No,No,Never,26-100,No,Yes,Don't know,No,Don't know,Don't know,Don't know,Don't know,No,No,Yes,Yes,Maybe,Maybe,Yes,No,NaN

**Data Understanding & Evaluation**

In [17]:
df.columns

Index(['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed',
       'family_history', 'treatment', 'work_interfere', 'no_employees',
       'remote_work', 'tech_company', 'benefits', 'care_options',
       'wellness_program', 'seek_help', 'anonymity', 'leave',
       'mental_health_consequence', 'phys_health_consequence', 'coworkers',
       'supervisor', 'mental_health_interview', 'phys_health_interview',
       'mental_vs_physical', 'obs_consequence', 'comments'],
      dtype='object')

In [18]:
df.info

<bound method DataFrame.info of              Timestamp  Age  Gender         Country state self_employed  \
0     27/08/2014 11:29   37  Female   United States    IL           NaN
1     27/08/2014 11:29   44       M   United States    IN           NaN
2     27/08/2014 11:29   32    Male          Canada   NaN           NaN
3     27/08/2014 11:29   31    Male  United Kingdom   NaN           NaN
4     27/08/2014 11:30   31    Male   United States    TX           NaN
...                ...  ...     ...             ...   ...           ...
1254  12/09/2015 11:17   26    male  United Kingdom   NaN            No
1255  26/09/2015 01:07   32    Male   United States    IL            No
1256  07/11/2015 12:36   34    male   United States    CA            No
1257  30/11/2015 21:25   46       f   United States    NC            No
1258  01/02/2016 23:04   25    Male   United States    IL            No

     family_history treatment work_interfere    no_employees remote_work  \
0                No       Yes          Often          Jun-25          No
1                No        No         Rarely  More than 1000          No
2                No        No         Rarely          Jun-25          No
3               Yes       Yes          Often          26-100          No
4                No        No          Never         100-500         Yes
...             ...       ...            ...             ...         ...
1254             No       Yes            NaN          26-100          No
1255            Yes       Yes          Often          26-100         Yes
1256            Yes       Yes      Sometimes  More than 1000          No
1257             No        No            NaN         100-500         Yes
1258            Yes       Yes      Sometimes          26-100          No

     tech_company    benefits care_options wellness_program   seek_help  \
0             Yes         Yes     Not sure               No         Yes
1              No  Don't know           No       Don't know  Don't know
2             Yes          No           No               No          No
3             Yes          No          Yes               No          No
4             Yes         Yes           No       Don't know  Don't know
...           ...         ...          ...              ...         ...
1254          Yes          No           No               No          No
1255          Yes         Yes          Yes               No          No
1256          Yes         Yes          Yes               No          No
1257          Yes          No          Yes               No          No
1258           No         Yes          Yes               No          No

       anonymity               leave mental_health_consequence  \
0            Yes       Somewhat easy                        No
1     Don't know          Don't know                     Maybe
2     Don't know  Somewhat difficult                        No
3             No  Somewhat difficult                       Yes
4     Don't know          Don't know                        No
...          ...                 ...                       ...
1254  Don't know       Somewhat easy                        No
1255         Yes  Somewhat difficult                        No
1256  Don't know  Somewhat difficult                       Yes
1257  Don't know          Don't know                       Yes
1258         Yes          Don't know                     Maybe

     phys_health_consequence     coworkers    supervisor  \
0                         No  Some of them           Yes
1                         No            No            No
2                         No           Yes           Yes
3                        Yes  Some of them            No
4                         No  Some of them           Yes
...                      ...           ...           ...
1254                      No  Some of them  Some of them
1255                      No  Some of them           Yes
1256                     Yes            No            No
1257                      No            No            No
1258                      No  Some of them            No

     mental_health_interview phys_health_interview mental_vs_physical  \
0                         No                 Maybe                Yes
1                         No                    No         Don't know
2                        Yes                   Yes                 No
3                      Maybe                 Maybe                 No
4                        Yes                   Yes         Don't know
...                      ...                   ...                ...
1254                      No                    No         Don't know
1255                      No                    No                Yes
1256                      No                    No                 No
1257                      No                    No                 No
1258                      No                    No         Don't know

     obs_consequence comments
0                 No      NaN
1                 No      NaN
2                 No      NaN
3                Yes      NaN
4                 No      NaN
...              ...      ...
1254              No      NaN
1255              No      NaN
1256              No      NaN
1257              No      NaN
1258              No      NaN

[1259 rows x 27 columns]>

In [21]:
df.describe(include='all')

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
count,1259,1.259000e+03,1259,1259,744,1241,1259,1259,995,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259,1259,164
unique,884,NaN,49,48,45,2,2,2,4,6,2,2,3,3,3,3,3,5,3,3,3,3,3,3,3,2,160
top,27/08/2014 12:31,NaN,Male,United States,CA,No,No,Yes,Sometimes,Jun-25,No,Yes,Yes,No,No,No,Don't know,Don't know,No,No,Some of them,Yes,No,Maybe,Don't know,No,* Small family business - YMMV.
freq,8,NaN,615,751,138,1095,767,637,465,290,883,1031,477,501,842,646,819,563,490,925,774,516,1008,557,576,1075,5
mean,NaN,7.942815e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,2.818299e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,-1.726000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,2.700000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,3.100000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,3.600000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,1.000000e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Data Cleaning**

In [26]:
# Check and Count The Number of Missing Value Before Cleansing
df.isnull().sum()

Timestamp                       0
Age                             0
Gender                          0
Country                         0
state                         515
self_employed                  18
family_history                  0
treatment                       0
work_interfere                264
no_employees                    0
remote_work                     0
tech_company                    0
benefits                        0
care_options                    0
wellness_program                0
seek_help                       0
anonymity                       0
leave                           0
mental_health_consequence       0
phys_health_consequence         0
coworkers                       0
supervisor                      0
mental_health_interview         0
phys_health_interview           0
mental_vs_physical              0
obs_consequence                 0
comments                     1095
dtype: int64

In [27]:
# Check The Boolean of Missing Value Before Cleansing
df.isna().any()

Timestamp                    False
Age                          False
Gender                       False
Country                      False
state                         True
self_employed                 True
family_history               False
treatment                    False
work_interfere                True
no_employees                 False
remote_work                  False
tech_company                 False
benefits                     False
care_options                 False
wellness_program             False
seek_help                    False
anonymity                    False
leave                        False
mental_health_consequence    False
phys_health_consequence      False
coworkers                    False
supervisor                   False
mental_health_interview      False
phys_health_interview        False
mental_vs_physical           False
obs_consequence              False
comments                      True
dtype: bool

In [28]:
 #droping columns not useful in my EDA
Df = df.drop(columns=['state', 'comments', 'Timestamp', ])

In [31]:
#Replacing Missing values
# Fill in missing values in work_interfere column
Df['work_interfere'] = SimpleImputer(missing_values=np.NaN,strategy = 'most_frequent') \
                        .fit_transform(df['work_interfere'].values.reshape(-1,1))[:,0]

Df['self_employed'] = SimpleImputer(missing_values=np.NaN,strategy = 'most_frequent') \
                        .fit_transform(df['self_employed'].values.reshape(-1,1))[:,0]

Df.head()

,Age,Gender,Country,self_employed,family_history,treatment,work_interfere,no_employees,remote_work,tech_company,benefits,care_options,wellness_program,seek_help,anonymity,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence
0,37,Female,United States,No,No,Yes,Often,Jun-25,No,Yes,Yes,Not sure,No,Yes,Yes,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No
1,44,M,United States,No,No,No,Rarely,More than 1000,No,No,Don't know,No,Don't know,Don't know,Don't know,Don't know,Maybe,No,No,No,No,No,Don't know,No
2,32,Male,Canada,No,No,No,Rarely,Jun-25,No,Yes,No,No,No,No,Don't know,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No
3,31,Male,United Kingdom,No,Yes,Yes,Often,26-100,No,Yes,No,Yes,No,No,No,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes
4,31,Male,United States,No,No,No,Never,100-500,Yes,Yes,Yes,No,Don't know,Don't know,Don't know,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No

In [32]:
# Check and Count The Number of Missing Value After Cleansing
Df.isnull().sum()

Age                          0
Gender                       0
Country                      0
self_employed                0
family_history               0
treatment                    0
work_interfere               0
no_employees                 0
remote_work                  0
tech_company                 0
benefits                     0
care_options                 0
wellness_program             0
seek_help                    0
anonymity                    0
leave                        0
mental_health_consequence    0
phys_health_consequence      0
coworkers                    0
supervisor                   0
mental_health_interview      0
phys_health_interview        0
mental_vs_physical           0
obs_consequence              0
dtype: int64

In [35]:
#Checking for Data Uniqness
print('Self Employed',Df['self_employed'].unique())

Self Employed ['No' 'Yes']

In [36]:
#Checking counts in Treatment
Df['treatment'].value_counts()

Yes    637
No     622
Name: treatment, dtype: int64

In [38]:
#Checking for Data Uniqness
print('%s%s' % (Df["Gender"].nunique(), ' Data Record' ))
print('Gender',Df['Gender'].unique())

49 Data Record
Gender ['Female' 'M' 'Male' 'male' 'female' 'm' 'Male-ish' 'maile' 'Trans-female'
 'Cis Female' 'F' 'something kinda male?' 'Cis Male' 'Woman' 'f' 'Mal'
 'Male (CIS)' 'queer/she/they' 'non-binary' 'Femake' 'woman' 'Make' 'Nah'
 'All' 'Enby' 'fluid' 'Genderqueer' 'Female ' 'Androgyne' 'Agender'
 'cis-female/femme' 'Guy (-ish) ^_^' 'male leaning androgynous' 'Male '
 'Man' 'Trans woman' 'msle' 'Neuter' 'Female (trans)' 'queer'
 'Female (cis)' 'Mail' 'cis male' 'A little about you' 'Malr' 'p' 'femail'
 'Cis Man' 'ostensibly male, unsure what that really means']

In [55]:
# Cleaning and regruping of the Gender Attribute
clean_gender = {
    'Male ': 'Male',
    'male': 'Male',
    'M': 'Male',
    'm': 'Male',
    'Male': 'Male',
    'Cis Male': 'Male',
    'Man': 'Male',
    'cis male': 'Male',
    'Mail': 'Male',
    'Male-ish': 'Male',
    'Male (CIS)': 'Male',
    'Cis Man': 'Male',
     'msle': 'Male',
    'Malr': 'Male',
    'Mal': 'Male',
    'maile': 'Male',
    'Make': 'Male',
    'Female ': 'Female',
    'female': 'Female',
    'F': 'Female',
    'f': 'Female',
    'Woman': 'Female',
    'Female': 'Female',
    'femail': 'Female',
    'Cis Female': 'Female',
    'cis-female/femme': 'Female',
    'Femake': 'Female',
    'Female (cis)': 'Female',
    'woman': 'Female',
    'Female (trans)': 'Other',
    'queer/she/they': 'Other',
    'non-binary': 'Other',
    'fluid': 'Other',
    'queer': 'Other',
    'Androgyne': 'Other',
    'Trans-female': 'Other',
    'male leaning androgynous': 'Other',
    'Agender': 'Other',
     'A little about you': 'Other',
    'Nah': 'Other',
    'All': 'Other',
    'ostensibly male, unsure what that really means': 'Other',
    'Genderqueer': 'Other',
    'Enby': 'Other',
    'p': 'Other',
    'Neuter': 'Other',
    'something kinda male?': 'Other',
    'Guy (-ish) ^_^': 'Other',
    'Trans woman': 'Other'
}

Df['Gender'].replace(clean_gender, inplace=True)
print('%s%s' % (Df["Gender"].nunique(), ' Data Record' ))
print(Df['Gender'].unique())

3 Data Record
['Female' 'Male' 'Other']

In [54]:
# Cleaning and regruping of the Gender Attribute Rubric
clean_gender = {
    'Male ': 'Male','male': 'Male','M': 'Male','m': 'Male','Male': 'Male','Cis Male': 'Male','Man': 'Male','cis male': 'Male','Mail': 'Male','Male-ish': 'Male','Male (CIS)': 'Male',
    'Cis Man': 'Male','msle': 'Male','Malr': 'Male','Mal': 'Male','maile': 'Male','Make': 'Male','Female ': 'Female','female': 'Female','F': 'Female','f': 'Female','Woman': 'Female',
    'Female': 'Female','femail': 'Female','Cis Female': 'Female','cis-female/femme': 'Female','Femake': 'Female','Female (cis)': 'Female','woman': 'Female','Female (trans)': 'Other',
    'queer/she/they': 'Other','non-binary': 'Other','fluid': 'Other','queer': 'Other','Androgyne': 'Other','Trans-female': 'Other','male leaning androgynous': 'Other','Agender': 'Other',
     'A little about you': 'Other','Nah': 'Other','All': 'Other','ostensibly male, unsure what that really means': 'Other','Genderqueer': 'Other','Enby': 'Other','p': 'Other',
    'Neuter': 'Other','something kinda male?': 'Other','Guy (-ish) ^_^': 'Other','Trans woman': 'Other'
}
Df['Gender'].replace(clean_gender, inplace=True)
print('%s%s' % (Df["Gender"].nunique(), ' Data Record' ))
print(Df['Gender'].unique())

3 Data Record
['Female' 'Male' 'Other']

In [44]:
# Checking for unique values in age
Df['Age'].unique()

array([         37,          44,          32,          31,          33,
                35,          39,          42,          23,          29,
                36,          27,          46,          41,          34,
                30,          40,          38,          50,          24,
                18,          28,          26,          22,          19,
                25,          45,          21,         -29,          43,
                56,          60,          54,         329,          55,
       99999999999,          48,          20,          57,          58,
                47,          62,          51,          65,          49,
             -1726,           5,          53,          61,           8,
                11,          -1,          72])

From the above display, there are negative ages and outliers that needs to be fixed. I shall replace these by the median age

In [47]:
# Median age
median_age = Df['Age'].median()
print('The Median age is: ', median_age)

The Median age is:  31.0

In [48]:
# The minimum age of employment is on average 15, I will replace ages below 15 amd those above 100 by the median age
Df['Age'].replace([Df['Age'][Df['Age'] < 15]], median_age, inplace = True)
Df['Age'].replace([Df['Age'][Df['Age'] > 100]], median_age, inplace = True)

Df['Age'].unique()

array([37, 44, 32, 31, 33, 35, 39, 42, 23, 29, 36, 27, 46, 41, 34, 30, 40,
       38, 50, 24, 18, 28, 26, 22, 19, 25, 45, 21, 43, 56, 60, 54, 55, 48,
       20, 57, 58, 47, 62, 51, 65, 49, 53, 61, 72])

In [51]:
#Checking and Eliminating duplicates
duplicates = Df.duplicated().sum()
duplicates

4

In [52]:
#Eliminating Duplicates
Df.drop_duplicates(inplace= True)
duplicates = Df.duplicated().sum()
duplicates

0

**DATA EXPLORATION**